@import "./function";
:host{
  --color: white;
}
.avthar{
    text-align: center;
    border-radius: 100%;
    text-transform: uppercase;
    color: Var(--color);
    background-color: rgb(149, 165, 166);
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    font-family: 'Poppins', sans-serif;
}